@import settings

div.sudoku-container
  text-align: center

table.sudoku-board
  border: 2px solid #1a1a1a
  text-align: center
  box-sizing: border-box
  border-collapse: collapse
  margin: 0 auto

  &.solved
    pointer-events: none

  tr
    &:first-child,
    &:nth-child(4),
    &:nth-child(7)
      td.sudoku-cell
        border-top-width: 0

    &:nth-child(3),
    &:nth-child(6)
      td.sudoku-cell
        border-bottom-width: 2px

    &:last-child
      td.sudoku-cell
        border-bottom-width: 0

    td.sudoku-cell
      border: 1px solid #959595
      text-align: center
      vertical-align: middle
      padding: 0
      width: 50px
      height: 50px

      @media screen and (max-width: $break-small)
        height: 30px
        width: 30px

      input[type='number']
        border: none
        text-align: center
        font-size: 24px
        padding: 0
        width: 50px
        -webkit-appearance: none
        margin: 0
        -moz-appearance: textfield

        @media screen and (max-width: $break-small)
          font-size: 18px
          width: 30px

      input[type='number']:focus
        outline: none

      input[type='number']::-webkit-outer-spin-button,
      input[type='number']::-webkit-inner-spin-button
        -webkit-appearance: none

      &:first-child
        border-left-width: 0

      &:nth-child(3),
      &:nth-child(6)
        border-right-width: 2px

      &.given,
      &.given input[type='number']
        background-color: #ddd
        pointer-events: none

      &.correct input
        color: #2ecc71

      &.incorrect input
        color: #c0392b




